.motion {
  .imageLink,
  .videoLink {
    color: initial;
    display: block;
    font-size: 1.5em;
    padding: 5px 8px;
    text-decoration: none;

    &:hover {
    background: #aaaaaa;
    }
  }

  .imageActive,
  .videoActive {
    background: #cccccc;
    display: block;
    font-size: 1.5em;
    padding: 5px 8px;
  }
}
