@import '../../../src/less/vars';

.motion {
  .running {
    [data-emit='startMotion'] {
      display: none;
    }
  }

  .stopped {
    [data-emit='stopMotion'] {
      display: none;
    }
  }

  .motion-button {
    color: initial;
    cursor: pointer;
    font-size: 1.5em;
    padding: 5px 8px;
    text-decoration: none;
  }

  .eventList-container {
    border: 2px solid #cccccc;
    display: inline-block;
    max-height: 70vh;
    overflow-y: scroll;
  }

  &-image-container,
  &-video-container {
    max-width: 100%;

    .image,
    .video {
      max-width: 100%;
      width: 640px;
    }
  }

  &-image-content,
  &-video-content {
    display: inline-block;
  }

  .imageLink,
  .videoLink {
    color: initial;
    display: block;
    font-size: 1.5em;
    padding: 5px 8px;
    text-decoration: none;

    &:hover {
    background: #aaaaaa;
    }
  }

  .imageActive,
  .videoActive {
    background: #cccccc;
    display: block;
    font-size: 1.5em;
    padding: 5px 8px;
  }

  .pagination {
    display: inline-block;

    &-container {
      align-content: flex-start;
      display: flex;
      flex-flow: row wrap;
      margin: 1em 0;
      max-width: 100%;
    }

    &-item {
      flex-grow: 1;

      &-link,
      &-current,
      &-disabled {
        border: 1px solid #cccccc;
        display: block;
        margin: 0 2px;
        padding: 8px 0;
        text-align: center;
      }

      &-link {
        color: @text_color;
        text-decoration: none;

        &:hover {
          background: #cccccc;
        }
      }

      &-current {
        background: #cccccc;
        font-weight: bold;
      }

      &-disabled {
        opacity: 0.5;
      }
    }
  }
}
