//- widgets/textarea.pug
mixin textarea(attr)
  .field(class='field_' + attr.name)
    label.field-label.field-label-textarea= __(attr.label)
    .field-value
      .field-value-input(class='field-value-input-' + attr.name)
        if post[attr.name]
          - value = post[attr.name]
        else
          if attr.value != ''
            - value = __(attr.value)
        if attr.placeholder != ''
          - attr.placeholder = __(attr.placeholder)
        - delete(attr.label)
        - delete(attr.value)
        textarea.input-textarea&attributes(attr)= value
