//- index.pug
extends ../../index.pug

mixin button(msg, data, label)
  button.button.motion-button&attributes({ 'data-emit': msg, 'data-data': data })= label

block content
  div#motion.motion.flex-wrapper

    #head.flex-block.flex-header
      #header-wrapper.flex-wrapper
        h1#headline.headline.flex-block.flex-left= title + ' Headline'

    #motion-container.motion-container.flex-block.flex-center
      h2 Motion
      h3 Status unbekannt
      #button-container.button-container
        + button('startMotion', "{}",  'start')
        + button('stopMotion', "{}",  'stop')
        + button('isRunning', "{}",  'is running?')
        button.button#motion-snapshot snapshot
        button.button#motion-edit stream

append footer
  script(src='/js/motion/event-handler.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
  script(src='/js/motion/index.js')
