//- index.pug
extends ../../index.pug

block content
  div#motion.motion.flex-wrapper

    #head.flex-block.flex-header
      #header-wrapper.flex-wrapper
        h1#headline.headline.flex-block.flex-left= title + ' Headline'

    #motion-container.motion-container.flex-block.flex-center
      h2 Motion
      h3 Status unbekannt
      #button-container.button-container
        button.button#motion-start&attributes({'data-click-xhr': '/motion/run/start', 'data-click-xhr-result': 'motion-start-result'}) start
        button.button#motion-restart restart
        button.button#motion-stop stop
        button.button#motion-snapshot snapshot
        button.button#motion-edit edit
        button.button#motion-running is running?

append footer
  script(src='/js/motion/event-handler.js')
